name: "DEPLOY"

on:
  workflow_call:
    inputs:
      aws-region:
        type: string
        required: true
      environment:
        type: string
        required: true

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: ${{ inputs.environment }}
      aws-assume-role-arn: "arn:aws:iam::031599779835:role/github-actions-ton06-pipeline"
      aws-region: ${{ inputs.aws-region }}
      aws-statefile-s3-bucket: "ton06-sa-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "ton06-sa-east-1-terraform-lock"